# 依赖
node_modules/

# 构建产物
dist/
.astro/

# obsidian相关的设置
\src\content\blog\.obsidian

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 系统文件
.DS_Store
Thumbs.db

# 本地环境
.env
.env.*
!.env.example
